section{
  height: 600px;
}

#GA-About {
  background-image: url("../Pictures/GeneralAtomicsAbout.jpg");
}
#GA-Tools{
  background-image: url("../Pictures/UKProtector.jpg");

}
#GA-Lessons{
  background-image: url("../Pictures/Block50.jpg");

}
