@import "../../Utilities/NavBar.css";
@import "../../Utilities/DefaultCss.css";

body{
  height: 2000px;
  background-color: #F0F0F0;
}
#home-tab-color {
  background-color: #717171;
}
/**section{
  background-color: #143AB0;
  border-radius: 20px;
  text-align:center;
  padding-bottom: 10px;

} **/
.border{
  background-color: #143AB0;
  border-radius: 20px;
}
#summary{
  /* width: 80% */
}

#summary p{
  margin: 5px;
  text-align: center;
  padding: 5px;
}
#main-content{
  overflow: auto;
}
#main-content section{
  width: 33%;
  height: 100%;
  float: left;
}

#main-content section div {
  text-align:center;
  padding-bottom: 10px;
}
.summary {
}

#left-sidebar div{
  width: 275px;
  margin-left: 10px;
  float: left;
}

#left-sidebar img {
  height: 250px;
  width: 250px;
  border-radius: 40px;
  border-color: white;
  border-width: thick;
  border-style: solid;
  margin: 5px 0 10px 0;
}

#left-sidebar span {
  display: inline-block;
}
#left-sidebar h3 {
  display: inline-block;
}

#Title{
  padding: 0 10px 10px 0;
}
#Title div {
  text: 100px;
}
#right-side {
display: inline-block;
}


#circle {
   width: 20px;
   height: 20px;
   background: #00FF00;
   border-radius: 50%;
   display: inline-block;
   animation: glowShadow 1.5s linear infinite alternate;
   /* animation: glowImage 1.5s linear infinite alternate; */
 }
 @keyframes glowImage{
  to {
    -webkit-filter: brightness(2);
     filter: brightness(2);
  }
}
@keyframes glowShadow{
  to {
    /* box-shadow: 0px 0px 35px 15px #143AB0; for general atomics Blue*/
    box-shadow: 0px 0px 20px 2px #00FF00;

  }
}
