* {
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
  height: 100%;
}

body {
  /* background: url('../../Pictures/Tahoe.jpg') no-repeat;
  background-size: auto; */
  font-family: 'Century Gothic';
  color: white;
  min-width: 100%;
  min-height: 100%;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

body{
  background-color: #F0F0F0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h4{
  font-size: 19px;
}
