body{
}

.icon-bar {
  background-color: #143AB0; /* General Atomics Blue background */
  overflow: auto; /* Overflow due to float */
  box-shadow: -2px 2px 4px 1.5px #888;
  margin: 7px 5px 5px 5px;
  /* top: 50%;
  left: 50%; */
}
.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 24px; /* Increased font size */
}
.icon-bar div {
  width: 20%;
}

.icon-bar div a {
  width: 33%;
}

.icon-bar a:hover {
  color: #90A5E3; /* Add a hover color */
}
.social-media{
  float: right;
}
