
body {
  background: url('../pictures/tahoe.jpg') no-repeat;
  background-size: cover;
  font-family: 'Century Gothic';
  color: white;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  min-width: 50%;
  min-height: 630px;
  max-width: 1400px;
  max-height: 630px;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

#socialMedia {
  text-align: right;
  margin-top: 70px;
  min-height: 100%;
  min-width: 900px;
  z-index: 19;
}

#socialMedia ul li {
  padding-right: 20px;
}


#socialMedia ul li a {
  color: black;
}
